.country-button {
    width: 200px;
    background-color: #f7f7f7;
    border: 0px;
    text-align: left;
}

.country-button:hover {
    background-color: lightsalmon;
}

#country-text {
    font-size: 19px;
}

#selected {
    background-color: lightblue;
}

